<h1>タスク編集</h1>

<% if @task.errors.any? %>
  <div class="error-messages">
    <h2><%= pluralize(@task.errors.count, "件のエラー") %>があります：</h2>
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form', task: @task %>

<%= link_to '戻る', task_path(@task) %>
